@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

body {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
	overflow: hidden;
	background: #494949;
}

.flipbook {
    width: 400px;
    height: 350px;
}

.flipbook .hard {
    background-image: url(images/cover.jpg) !important;
    color: #fff;
    font-weight: bold;
    border: none;
}

.flipbook .hard small{
	font-style: italic;
	font-weight: lighter;
	opacity: 0.7;
	font-size: 14px;
}

.flipbook .page {
    background: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
    gap: 10px;
    border: 1px solid rgba(0, 0, 0, 0.11);
}

.page img{
	width: 70%;
	object-fit: cover;
	margin: auto;
}

.flipbook .page small{
	font-size: 11px;
    text-align: center;
    margin-bottom: 8px;
}

a {
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, .4);
    font-size: 1.5em;
    letter-spacing: .1em;
    text-decoration: none;
    text-transform: uppercase;
    background: #262c37;
    padding: 10px 30px;
    transition: .5s;
    transition-delay: .8s;
}

a:hover {
    color: var(--clr);
    letter-spacing: 0.25em;
    text-shadow: 0 0 5px var(--clr);
    transition-delay: 1ms;
}

a span {
    position: absolute;
    display: block;
    background: var(--clr);
    box-shadow: 0 0 5px var(--clr);
}

a span:nth-child(1) {
    left: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
}

a:hover span:nth-child(1) {
    transform: scaleX(1);
    transform-origin: right;
}

a span:nth-child(2) {
    right: 0;
    top: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

a:hover span:nth-child(2) {
    transform: scaleX(1);
    transform-origin: left;
}

a span:nth-child(3) {
    right: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform .5s;
    transition-delay: .4s;
}

a:hover span:nth-child(3) {
    transform: scaleY(1);
    transform-origin: top;
}

a span:nth-child(4) {
    left: 0;
    top: 0;
    width: 1.5px;
    height: 100%;
    transform-origin: bottom;
    transform: scaleY(0);
    transition: transform .5s;
    transition-delay: .4s;
}

a:hover span:nth-child(4) {
    transform: scaleY(1);
    transform-origin: top;
}

a span:nth-child(5) {
    left: 0;
    bottom: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
    transition-delay: .8s;
}

a:hover span:nth-child(5) {
    transform: scaleX(1);
    transform-origin: left;
}

a span:nth-child(6) {
    right: 0;
    bottom: 0;
    width: 50.5%;
    height: 1.5px;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform .5s;
    transition-delay: .8s;
}

a:hover span:nth-child(6) {
    transform: scaleX(1);
    transform-origin: right;
}